
/* Pasar fase3 aqui */

                                                                /* Vistas jugador */

.player {
    height: 200px;
    width: 250px;
    
    position: relative;
    top: 250px;
    left: 0mm;
    z-index: 5;

    transition: 500ms;
}

#enemy {
    height: 200px;
    width: 250px;
    
    position: relative;
    top: 450px;
    
    left: -70mm;
    z-index: 5;
}

.right {
    left: 320px;
    transition: 500ms;
}

.left {
    /* left: -320px; */
    transition: 500ms;
}
    

.gameContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 700px;
    width: 1000px;

    background-color: greenyellow;
    border: white 5px solid;
}

                                                                /* Carretera */

container {
   display: grid; 
   grid-template-columns: 1fr 1fr; 
   grid-template-rows: 1fr; 
   gap: 0px 0px; 
   grid-template-areas: 
     "lineLeft lineRight"; 
 }
 .lineLeft { 
    grid-area: lineLeft;
    display: flex;
    align-items: flex-end;
}
 .lineRight { 
    grid-area: lineRight; 
    display: flex;
    align-items: flex-end;
}

.raceContainer {
    display: grid; 
    grid-template-columns: 500px 900px; 
    gap: 0px 0px;
    
    overflow: hidden;
    height: 700px;
}

.roadContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    overflow: hidden;

    margin: 0%;
    padding: 0%;
}

  .data { 
    grid-area: 1 / 1 / 2 / 2; 
    background-color: chocolate;
}
  .race { 
    grid-area: 1 / 2 / 3 / 3;
    display: flex;
    justify-content: flex-end;

    flex-direction: column;
    background-image: url('img/dragStrip.png');
    background-position-x:center;
    background-position-y:center;
 }
  .dataRace { 
    grid-area: 1 / 1 / 2 / 2;
    background-color: brown; 
}
  .dataCar { 
    grid-area: 2 / 1 / 3 / 2;
    background-color: aquamarine; 

}




.poligon {
    clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
}

.dark {
    background-color: gray
}

.ligth {
    background-color: lightgray;
}

                                                        /* Trapecios individuales */

#t1 {
    height: 15mm;
    width: 315mm;
    
}

#t2 {
    height: 12mm;
    width: 252mm;
}

#t3 {
    height: 9.6mm;
    width: 201.6mm;
}

#t4 {
    height: 7.68mm;
    width: 161.28mm;
}

#t5 {
    height: 6.144mm;
    width: 129.024mm;
}

#t6 {
    height: 4.912mm;
    width: 103.216mm;
}

#t7 {
    height: 3.928mm;
    width: 82.57536mm;
}

#t8 {
    height: 3.136mm;
    width: 66.060288mm;
}

#t9 {
    height: 2.5mm;
    width: 52.8482304mm;
}

#t10 {
    height: 2mm;
    width: 42.27858432mm;
}

#t11 {
    height: 1.6mm;
    width: 33.82mm;
}

#t12 {
    height: 0.928mm;
    width: 27.05mm;
}

#t13 {
    height: 0.736mm;
    width: 21.64mm;
}
                                                