body {
    margin: 0%;
    background-color: black;
    
}

.masterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid white 2px;

    margin: 0;
    padding: 0;
}

/* Los masterContainer se encuentran en todas las fases
sirven para que todas las pantallas del juego tengan
el mismo tamaño */

#boton {
    height: 100px;
    width: 100px;
    background-color: red;
}

#fase1 {
    background-color: yellow;
}
  

#fase3 {
    background-color: purple;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
}